<h1>Boas vindas!</h1>
<p><strong>Data:</strong> <%= date_format_br(Date.today) %></p>

<ul>
  <li>
    <a href="/coins" target="_blank">Cadastro de Moedas em HTML</a>
  </li>
  <li>
    <%= link_to 'Cadastro de Moedas em Ruby', coins_path,  target: "_blank" %>
  </li>
</ul>
