<%= render "header" %>

<ul>
  <li>
    <%= link_to t('links.coins'), coins_path, target: "_blank" %>
  </li>
  <li>
    <%= link_to t('links.mining_types'), mining_types_path, target: "_blank" %>
  </li>
</ul>

<p>
  O ambiente é de: <strong><%= env_rails_version %></strong>
</p>
